<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Redes, rutina y realidad</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;600;700&display=swap');

    html {
      scroll-behavior: smooth;
    }

    body {
      font-family: "Montserrat Alternates", sans-serif;
      background-color: #e0f2fe;
    }
  </style>
</head>

<body class="text-gray-800">
  <section class="min-h-screen flex flex-col items-center justify-center text-center px-6 bg-gradient-to-b from-[#e0f2fe] to-white">
    <h1 class="text-4xl md:text-5xl font-bold mb-4">Redes, rutina y realidad</h1>
    <p class="max-w-xl text-lg md:text-xl text-gray-700">
      ¿Cómo influyen las redes sociales en tu día a día?<br>
      Comparte tu experiencia de forma rápida y anónima.
    </p>
    <a href="form"
      class="mt-8 inline-block bg-[#A2CDFF] hover:bg-[#005BC2] text-[#005BC2] hover:text-[#A2CDFF] font-semibold py-3 px-10 rounded-full transition duration-300">
      Comenzar
    </a>
  </section>
      

</body>

</html>
