<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Seleccionar Modelo de Predicción</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
</head>
<body class="bg-light">
    <div class="container py-5">
        <h2 class="mb-4">Selecciona un modelo <d></d>e predicción</h2>

        <form method="GET" action="/form">
            <div class="mb-3">
                <label for="modelo" class="form-label">Modelo:</label>
                <select name="archivo" id="modelo" class="form-select" required>
                    {% for modelo in modelos %}
                        <option value="{{ modelo }}">{{ modelo }}</option>
                    {% endfor %}
                </select>
            </div>

            <button type="submit" class="btn btn-primary">Ejecutar modelo</button>
        </form>


        {% if resultado %}
            <div class="alert alert-success mt-4">
                <h5>Resultado del modelo:</h5>
                <pre>{{ resultado }}</pre>
            </div>
        {% endif %}
    </div>
</body>
</html>